/*
  Style Structure
  
    <!-- Constants -->

    <!-- Custom Classes -->

    <!-- Overrriding Styles Classes -->

    <!-- Custom Component Styles -->
      <!-- CCS - Input -->

    <!-- Login -->

    <!-- Dashboard -->
      <!-- Sidebar -->
      <!-- Filter Users Card -->
      <!-- Header -->

      <!-- Users -->
      <!-- Users Card -->

      <!-- User -->

      <!-- DropDown Pagination -->


   <!-- Media Queries-->

*/

// Constants
$primary-color: #213f7d;
$secondary-color: #545f7d;
$cta-color: #39cdcc;
$outline-responsive: 1px solid tomato;

// Custom Classes
.o-red {
  outline: $outline-responsive;
}
.badge {
  padding: 7px 13px;
  border-radius: 100px;
  max-width: 80px;
}
.inactive-badge {
  background-color: rgba($color: $secondary-color, $alpha: 0.06);
  color: $secondary-color;
}
.active-badge {
  background-color: rgba($color: #39cd62, $alpha: 0.06);
  color: #39cd62;
}
.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: $secondary-color;
}
.cta-text {
  color: $cta-color !important;
  font-family: "Avenir Next Bold";
  font-size: 12px !important;
  line-height: 0;
}
.cta-button-0px {
  border-radius: 0px !important;
}
.cta-button-transparent {
  background-color: transparent !important;
}


.cta-button {
  background-color: $cta-color;
  border-color: transparent;
  color: white;
  border-radius: 5px;
  font-family: "Avenir Next Bold";
  letter-spacing: 0.1em;
}

// Overriding Styles
#react-burger-menu-btn,
.bm-burger-bars {
  display: none !important;
}
.user-menu-class .bm-menu-wrap {
  width: 100% !important;
}

// Custom Component
// Input
.custom__input-container-8px {
  border-radius: 8px !important;
}
.custom__input-container {
  border: 2px solid rgba(84, 95, 125, 0.15);
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  .custom__input {
    height: 40px;
    padding: 0 8px !important;
    width: 100%;
    border-color: transparent;
    border-radius: 5px;
    color: $secondary-color;
  }

  .custom__input:focus-visible {
    outline: transparent auto 1px !important;
  }

  .custom__input::placeholder {
    color: $secondary-color;
    opacity: 0.6;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 400;
  }

  .custom__input__addon {
    font-size: 12px;
    font-family: "Avenir Next Bold";
    color: $cta-color;
    border-color: transparent;
    background-color: transparent;
  }
}
.custom__input__addon {
  padding: 0 8.2px;
}

// Login
.login-container {
  height: 100vh;
  overflow: hidden;
  font-family: "Avenir Next", sans-serif;
  padding: 4.36vw 4.746vw 0;
  h1 {
    color: $primary-color;
    line-height: 16px;
  }
  p {
    color: $secondary-color;
    font-size: 20px;
  }
  .cta-text {
    margin-bottom: 30px;
  }
  &__illustration {
    display: none;
  }
  &__form {
    // max-width: 50%;
    width: 100%;
  }
  &__form img:first-child {
    padding-bottom: 2rem;
  }

  &__form-images {
    display: block;
  }
}

.login-container {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
  &__form {
    p.form__paragraph {
      margin-bottom: 20px !important;
    }
  }
}

// Dashboard
.dashboard {
  font-family: "Work Sans", sans-serif;
  &__table {
    transform: translate3d(0px, 0px, 0px);
  }

  .dropdown__content {
    position: absolute;
    top: 12px;
    padding: 20px;
    background-color: white;
    left: -140px;
    z-index: 50;
    padding-bottom: 0;
    li {
      display: flex;
      margin-bottom: 20px;
      color: $secondary-color;
      font-size: 16px;
    }
  }
}
// SideBar
.sidebar {
  .border-color-table-data {
    background: rgba(33, 63, 125, 0.1);
  }

  opacity: 1;
  background-color: white;

  li {
    border-left: 3px solid transparent;
    color: $secondary-color;
    width: 100% !important;
    font-size: 16px;
    padding: 10px 0px 10px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    img {
      padding-right: 10px;
    }
  }
  li:hover {
    background: rgba($color: #39cdcc, $alpha: 0.06);
    border-left: 3px solid #39cdcc;
    color: $primary-color;
    cursor: pointer;
  }
  li.active-tab {
    background: rgba($color: #39cdcc, $alpha: 0.06);
    border-left: 3px solid #39cdcc;
    color: $primary-color;
  }
}

// Filter Users Card
.filter_users__card {
  padding: 30px 20px 28px 20px;
  background-color: white;
  position: absolute;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  min-width: 270px;
  left: 15px;
  top: 60px;
  h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
    color: $secondary-color;
    text-transform: none;
  }
  &-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 12px 31px 11px 30px;
    }
    button.button-outline {
      border: 1px solid #545f7d;
    }
  }
}
// Header
.header {
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}


// Users
// Users Card
.users__card {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px;
  padding-top: 20px;
  width: 240px;
  &-title {
    color: #545f7d;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 12px 0 14px 0;
  }
  &-count {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}

// User
.user {
  &__button-group {
    button {
      padding: 12px 16px 11px 16px;
      font-size: 14px;
      line-height: 16px;
      border: 1px solid;
      border-radius: 8px;
      text-align: center;
      letter-spacing: 0.1em;

      margin-left: 0px;
      margin-top: 15px;
    }
    button + button {
      margin-left: 20px;
    }
    button.blacklist {
      border-color: #e4033b;
      color: #e4033b;
    }
    button.activate {
      border-color: $cta-color;
      color: $cta-color;
    }
  }
  &__card {
    padding: 30px 30px 3px 30px;
  }
  &__card-one {
    padding-bottom: 0px;

    div.container_avatar {
      padding-left: 20px;
    }
  }
  &__tier {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    margin: 0;
    text-align: left;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: rgba($color: #545f7d, $alpha: 0);
    padding: 0;
  }

  &__tabbed-nav {
    display: flex;

    p {
      padding-right: 80px;
      color: rgba($color: #000000, $alpha: 0.8);
      white-space: nowrap;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }
    p:first-child {
      color: $cta-color;
      span {
        width: 170px;
        // border: 2px solid $cta-color;
        background-color: $cta-color;
        height: 2px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

// <!-- DropDown Pagination -->
.dropdown_pagination {
  &-button {
    padding: 7px 12px;
    margin: 0 10px;
    width: 80px;
    border-radius: 4px;
    background: rgba(33, 63, 125, 0.1);
  }
  span {
    color: $secondary-color !important;
  }
}
// Dashboard End



// Media Queries

@media (max-width: 768px) {
  .users__card {
    width: 100%;
  }
}


@media (max-width: 640px) {
  .user {
    &__button-group {
      button {
        margin-left: 0 !important;
      }
    }
  }
}

@media (min-width: 475px) and (max-width: 992px) {
  .user-menu-class .bm-menu-wrap {
    width: 70% !important;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    opacity: 0.7;
  }
  .user {
    &__tier {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 80px;
      margin: 0 30px;
      border-right: 1px solid;
      border-left: 1px solid;
      border-color: rgba($color: #545f7d, $alpha: 0.2);
      padding: 0 30px;
    }
  }
}

// Media Queries
@media (min-width: 768px) {
  // Custom Components
  //  Input
  .custom__input {
    padding: 0 12px !important;
  }
  .custom__input__addon {
    padding: 0 17.4px;
  }
  .custom__input__addon:hover {
    cursor: pointer;
  }

  .login-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    &__illustration {
      display: flex;
      flex-direction: column;
      padding: 7.36vw 6.746vw;
      background-color: rgba(0, 0, 0, 0.007);

      img:first-child {
        padding-bottom: 9.56vw;
      }
    }
    &__form {
      // flex-grow: 1;
      padding: 12.36vw 6.746vw !important;
      width: 704px;
      padding-top: 80px;

      p.form__paragraph {
        margin-bottom: 60px !important;
      }
    }
    &__form-images {
      display: none;
    }
  }
}
